$White-100:     rgba(255, 255, 255, 1) !default;
$White-80:  rgba(255, 255, 255, 0.8) !default;
$White-70:  rgba(255, 255, 255, 0.7) !default;
$White-60:  rgba(255, 255, 255, 0.6) !default;
$White-50:  rgba(255, 255, 255, 0.5) !default;
$White-40:  rgba(255, 255, 255, 0.4) !default;
$White-30:  rgba(255, 255, 255, 0.3) !default;
$White-20:  rgba(255, 255, 255, 0.2) !default;
$White-10:  rgba(255, 255, 255, 0.1) !default;
$White-5:   rgba(255, 255, 255, 0.05) !default;

$Green-100: rgba(100, 216, 144, 1) !default;
$Green-80: rgba(100, 216, 144, 0.8) !default;
$Green-60: rgba(100, 216, 144, 0.6) !default;
$Green-40: rgba(100, 216, 144, 0.4) !default;
$Green-20: rgba(100, 216, 144, 0.2) !default;

$Pink-100: rgba(226, 86, 127, 1) !default;
$Pink-80: rgba(226, 86, 127, 0.8) !default;
$Pink-60: rgba(226, 86, 127, 0.6) !default;
$Pink-40: rgba(226, 86, 127, 0.4) !default;
$Pink-20: rgba(226, 86, 127, 0.2) !default;

$Turquoise-100: rgba(0, 109, 146, 1) !default;
$Turquoise-80: rgba(0, 109, 146, 0.8) !default;
$Turquoise-60: rgba(0, 109, 146, 0.6) !default;
$Turquoise-40: rgba(0, 109, 146, 0.4) !default;
$Turquoise-20: rgba(0, 109, 146, 0.2) !default;

$Black-100: rgba(0, 0, 0, 1) !default;
$Black-80: rgba(0, 0, 0, 0.8) !default;
$Black-60: rgba(0, 0, 0, 0.6) !default;
$Black-40: rgba(0, 0, 0, 0.4) !default;
$Black-20: rgba(0, 0, 0, 0.2) !default;

$Orange-100: rgba(255, 205, 112, 1) !default;
$Orange-80: rgba(255, 205, 112, 0.8) !default;
$Orange-60: rgba(255, 205, 112, 0.6) !default;
$Orange-40: rgba(255, 205, 112, 0.4) !default;
$Orange-20: rgba(255, 205, 112, 0.2) !default;