@import './color';

$font-size: 16px !default;
$font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
// color
$Primary: $Turquoise-100 !default;

$Secondary: $Green-100 !default;

$Danger: $Pink-100 !default;

$Warning: $Orange-100 !default;

$Black: $Black-100 !default;

$White: $White-100 !default;

$ColorFocusFormElements: $Turquoise-20 !default;

